{% extends 'base.html' %}
{% load static %}
{% block title %}
T&Cs
{% endblock title %}

{% block content %}
    <!-- FAQ START -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="faq-content">
                        <h4 class="text-dark">Terms & Conditions:</h4>
                        <div class="faq-content mt-3">
                            <div class="accordion" id="accordionExample">
                                <div class="card border rounded shadow mb-3">
                                    <a data-toggle="collapse" href="#collapseOne" class="faq position-relative" aria-expanded="true" aria-controls="collapseOne">
                                        <div class="card-header bg-light p-3" id="headingOne">
                                            <h4 class="title mb-0 faq-question">Orders Rules</h4>
                                        </div>
                                    </a>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <ul>
                                                <li><p class="text-muted mb-0 faq-ans">Only Accept or Bid the orders that you can handle (Checking deadline and complexity)</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">Always read the instruction and ensure everything is clear. Never work on assignments with unclear instructions.</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">Always remember to check for order files and messages before starting the assignment.</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">Do not assign anyone the task. If you are busy just wait. You will get more orders when available.</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">Check the order well for the first 30 minutes and confirm that you can handle.</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">Reassigning after staying with the order for long will be fined.</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">Always request for deadline extension 4 hours prior to the deadline</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">Do not paraphrase the assignment from course hero or any other academic writing website. Doing so will attract a fine of not less than 3000.</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">Failed work will not be paid and may attract a fine or suspension.</p></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="card border rounded shadow mb-3">
                                    <a data-toggle="collapse" href="#collapseTwo" class="faq position-relative collapsed" aria-expanded="false" aria-controls="collapseTwo">
                                        <div class="card-header bg-light p-3" id="headingTwo">
                                            <h4 class="title mb-0 faq-question"> Order Stages</h4>
                                        </div>
                                    </a>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <ul>
                                                <li><p class="text-muted mb-0 faq-ans">Available:Means orders are available and you can place your bid</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">Applications: You placed your bid but not yet assigned. Don’t work on these orders.</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">Assigned: Means that you have been assigned and currently working on the tasks.</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">Editing: Orders are being reviewed by the editor</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">Completed: Orders were approved by the editors</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">Revision: Orders were sent to revision by either editor or the client (Work onrevisions asap to avoid getting the orders cancelled).</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">approved: Orders are approved and will be paid in the next payday.</p></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="card border rounded shadow mb-3">
                                    <a data-toggle="collapse" href="#collapsethree" class="faq position-relative collapsed" aria-expanded="false" aria-controls="collapsethree">
                                        <div class="card-header bg-light p-3" id="headingthree">
                                            <h4 class="title mb-0 faq-question">Requirements for every work</h4>
                                        </div>
                                    </a>
                                    <div id="collapsethree" class="collapse" aria-labelledby="headingthree" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <ul>
                                                <li><p class="text-muted mb-0 faq-ans">Upload full completed work</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">Upload a copy of plagiarism report as well</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">Proper grammar and format</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">Consistent with references such as lectures and textbooks</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">Plagiarism rate not higher than 5%</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">Modify as customers ask (They pay the bill, just do what they want, it does not matter whether it is right or not)</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">If there is no special requirement, there should be at least 6 academic citation sources per thousand words, and use appropriate format, such as introduction, subtitle, summary.</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">Don’t exceed the number of pages / words indicated with more than <strong> 10%</strong></p></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="card border rounded shadow mb-3">
                                    <a data-toggle="collapse" href="#collapsefour" class="faq position-relative collapsed" aria-expanded="false" aria-controls="collapsefour">
                                        <div class="card-header bg-light p-3" id="headingfour">
                                            <h4 class="title mb-0 faq-question">Term of payment</h4>
                                        </div>
                                    </a>
                                    <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <ul>
                                                <li><p class="text-muted mb-0 faq-ans">We make payment twice a month.</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">We settle the orders done at least 14 days ago. (Orders marked as approved)</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">You can send invoice any time after the orders have been approved.</p></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="card rounded shadow mb-0">
                                    <a data-toggle="collapse" href="#collapsefive" class="faq position-relative collapsed" aria-expanded="false" aria-controls="collapsefive">
                                        <div class="card-header bg-light p-3" id="headingfive">
                                            <h4 class="title mb-0 faq-question">Sending Invoice</h4>
                                        </div>
                                    </a>
                                    <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <ul>
                                                <li><p class="text-muted mb-0 faq-ans">Log in to your account</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">Go to Financial overview or click you balance on top</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">Go to Accounts</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">Confirm payment details</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">Request invoice (the amount you wish to withdraw not necessarily full amount)</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">Send Invoice</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">To know that your invoice was sent successfully, your balance will reduce with the amount you sent.</p></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="faq-content mt-3">
                            <div class="accordion" id="accordionExample2">
                                <div class="card border rounded shadow mb-3">
                                    <a data-toggle="collapse" href="#collapsesix" class="faq collapsed position-relative" aria-expanded="true" aria-controls="collapsesix">
                                        <div class="card-header bg-light p-3" id="headingsix">
                                            <h6 class="title mb-0 faq-question">Deduction</h6>
                                        </div>
                                    </a>
                                    <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordionExample2">
                                        <div class="card-body">
                                            <p class="text-muted mb-0 faq-ans">Due to quality purposes, the security of accounts and relationships with clients we make the following deductions.</p>
                                            <p class="text-muted mb-0 faq-ans">If the following situations occur, we will deduct ksh 250:</p>
                                            <ul>
                                                <li><p class="text-muted mb-0 faq-ans">*Plagiarism higher than 10%</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">Too many grammatical errors (No Grammarly was used)</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">Lack of proofreading the work</p></li>
                                                <li><p class="text-muted mb-0 faq-ans">The requirements of assignment are not met</p></li>
                                            </ul>
                                            <p class="text-muted mb-0 faq-ans">If orders are delayed, there will be different deductions depending on the length of the time</p>
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                    <th>Delay Time</th>
                                                    <th>Deduction</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Within 1 hr</td>
                                                        <td>100 ksh</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Within 2 hours</td>
                                                        <td>200 ksh</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Within 6 hours</td>
                                                        <td>500 ksh</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Longer than 6 hours</td>
                                                        <td>800 ksh</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <p class="text-muted mb-0 faq-ans">If you confirm the order but do not finish it or fail, additional 500 ksh will be deducted from your payment. Make sure you only accept orders you can handle well, and be responsible for every order.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- collapse one end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FAQ END -->

{% endblock content %}